**/Dockerfile*
**/*.dockerfile
**/*docker-compose.*
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.git
**/.gitignore
README.md
LICENSE
**/.vscode
**/dist
**/.vs
**/bin
**/obj
**/launchSettings.json
**/*.DotSettings
**/*.md
**/*.markdown
**/documents
**/skaffold.yaml
*.resources.yaml

**/*.EndToEndTests
**/*.IntegrationTests
**/*.UnitTests
**/.local-data

prepare-workspace.sh
